html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

li,
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

* {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

main {
  max-width: 1440px;
  text-decoration: none;
  background-color: #ffffff;
  padding: 0px 90px 0px 90px;
  margin: 0 auto;
  font-family: Montserrat;

  @media (max-width: 1025px) {
    padding: 0px 60px 0px 60px;
  }

  @media (max-width: 768px) {
    padding: 0px 40px 0px 40px;
  }
}
