.collapse {
  width: 92%;
  padding-left: 68px;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 0;
  }

  &-about {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 30px;
  }

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 52px;
    border-radius: 5px;
    background-color: #ff6060;
    font-size: 20px;
    color: #ffffff;
    padding-left: 11px;
    padding-top: 13px;
  }

  &-icon {
    margin-right: 15px;
    cursor: pointer;
  }

  &-icon-anim-open {
    transform: rotate(-180deg);
    transition: transform 300ms ease;
  }

  &-icon-anim-close {
    transform: rotate(0deg);
    transition: transform 300ms ease;
  }

  &-description {
    background-color: #f6f6f6;
    border-radius: 5px;
    color: #ff6060;
    padding: 16px 10px 0 12px;
    line-height: 1.3;
    padding-bottom: 10px;

    &-parent {
      height: 0px;
      overflow: hidden;
      transition: height ease 0.3s;
    }

    &-show {
      overflow: hidden;
      transition: height ease 0.3s;
    }
  }
}
