.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0px 90px 0px 90px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 1025px) {
    padding: 0px 60px 0px 60px;
  }

  @media (max-width: 768px) {
    padding: 0px 40px 0px 40px;
    height: 110px;
  }

  img {
    @media (max-width: 768px) {
      height: 47px;
    }
  }

  &-navbar {
    display: flex;
    gap: 50px;

    & a {
      color: #ff6060;
      font-size: 24px;
      font-weight: 500;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
  }

  &-active {
    text-decoration: underline;
  }
}
