.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 209px;
  background-color: black;
  gap: 50px;

  &-text {
    color: #ffffff;
    margin-bottom: 30px;
  }
}
